*, *::after, *::before {
    box-sizing: border-box;
}

body {
   margin: 0;
    font-family: system-ui;
}


.page__container {
    margin: auto;
    max-width: 800px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page__footer {
    color: white;
    background: #333;
    padding: 1rem;
    font-size: 0.8rem;
}

.page__main {

    flex: 1;
}


.counter {
    display: flex;
    place-items: center;
    place-content: center;
    padding: 1rem;
    border: 2px solid #ddd;
    margin-block: 2rem;
}

.counter__text {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.btn {
    flex: 1;
    padding: 1rem;
    font: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    background: #333;
    color: white;
    border: 1px solid #111;
    border-radius: 1px;
    box-shadow: 1px 1px 2px rgb(11, 14, 199);
}